.menu {
    display: flex;
    flex-direction: column;
    .menu-items {
        align-items: center;
        display: flex;
        flex-direction: column;
        
        h1 {
            margin: 0 0 24px 0;
        }
        .menu-list {
            display: flex;
            list-style: none;
            .item {
                border-radius: 16px;
                border: 1px solid rgb(0, 0, 0, 50%);
                cursor: pointer;
                display: flex;
                height: 200px;
                margin: 0 24px;
                transition: 0.5s;
                width: 450px;

                &:hover {
                    scale: 1.02;
                }

                .leftSide {
                    display: flex;
                    flex-direction: column;
                    padding: 16px 0 16px 12px;
                    position: relative;
                    width: 216px;

                    .title {
                        font-size: 18px;
                        font-weight: bold;
                    }

                    .description {
                        color: rgb(0, 0, 0, 50%);
                        font-size: 16px;
                        padding-top: 8px;
                    }

                    .price {
                        color: #50A773;
                        font-size: 18px;
                        font-weight: bold;
                        margin-top: auto;
                    }
                }

                .rightSide {
                    align-items: center;
                    background-image: url('../../../public/Images/FundoBurguer.png');
                    background-position: center;
                    border-radius: 20px;
                    display: flex;
                    height: 180px;
                    justify-content: center;
                    margin: auto;
                    width: 200px;
                }
            }
        }
    }
}

/* SmartPhone */
@media screen and (min-width: 360px) and (max-width: 799px) {
    .menu {
        margin: 0;
        padding: 60px 0;
        .menu-items {
            h1 {
                margin: 16px 0 8px 0;
            }
            
            .menu-list {
                flex-direction: column;
                .item {
                    margin: 0;
                    max-height: 180px;
                    max-width: 350px;
                    margin: 8px 0;
    
                    .leftSide {
                        display: flex;
                        flex-direction: column;
                        padding: 16px 0 16px 6px;
                        width: 216px;
                    }
    
                    .rightSide {
                        max-height: 160px;
                        max-width: 120px;

                        .image {
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1279px) {
    .menu {
        margin: 0;
        padding: 60px 0;
        .menu-items {
            h1 {
                margin: 0 0 16px 0;
            }

            .menu-list {
                flex-direction: column;
                .item {
                    margin: 0;
                    max-height: 180px;
                    width: 500px;
                    margin: 8px 0;
    
                    .leftSide {
                        display: flex;
                        flex-direction: column;
                        padding: 16px 0 16px 6px;
                        width: 270px;

                        .title {
                            font-size: 20px;
                        }
    
                        .description {
                            font-size: 18px;
                        }
    
                        .price {
                            font-size: 20px;
                        }
                    }
    
                    .rightSide {
                        max-height: 160px;
                    }
                }
            }
        }
    }
}

/* Small Desktop */
@media screen and (min-width: 1280px) and (max-width: 1700px) {
    .menu {
        margin: 0;
        padding: 60px 0;
        justify-content: center;
        .menu-items {
            h1 {
                margin: 16px 0 8px 0;
            }

            .menu-list {
                .item {
                    margin: 0 16px;
                    max-height: 180px;
                    max-width: 380px;
    
                    .leftSide {
                        display: flex;
                        flex-direction: column;
                        padding: 16px 0 16px 6px;
                        width: 216px;
                    }
    
                    .rightSide {
                        max-height: 160px;
                        max-width: 130px;

                        .image {
                            max-width: 100px;
                        }
                    }
                }
            }
        }
    }
}

/* Extra Large Desktop */
@media screen and (min-width: 2000px) {}