.homePage {
    align-items: center;
    display: flex;
    height: 100vh;
    height: calc(1080px - 161px);
    justify-content: space-between;
    background-color: var(--darkBlue-background);
    background-image: url('../../assets/BackgroundRadiation.svg');
    background-repeat: no-repeat;
    background-size: 730px;
    background-position: 70%;

    .leftSide-homePage {
        .content-leftSide {
            max-width: 450px;
            padding-left: 250px;
        }

        span {
            color: var(--lightBlue);
            font-family: "Rosario";
            font-size: 24px;
            font-weight: 400;
        }

        h1 {
            color: var(--white);
            font-family: "Rosario";
            font-size: 64px;
            font-style: italic;
            font-weight: 500;
            margin: 0;
            padding-top: 16px;
        }

        p {
            font-family: "Rosario";
            color: var(--gray);
            padding: 16px 0;
        }

        .btns {
            display: flex;
            gap: 24px;
            margin-top: 16px;

            .text-button {
                color: var(--white);
                font-size: 16px;
                font-family: "roboto";
            }

            .btn-GoToMenu {
                background-color: transparent;
                border: none;
                color: var(--white);
                cursor: pointer;
                font-family: "Roboto";
                font-weight: bold;
                transition: 0.2s;

                &:hover {
                    color: var(--yellow-background);
                }

                &:active {
                    scale: 0.9;
                }
            }
        }
    }

    .rightSide-homePage {
        align-items: center;
        background-color: var(--yellow-background);
        display: flex;
        height: 100%;
        position: relative;
        z-index: 1;

        .radiationIcon-1 {
            position: absolute;
            right: 20%;
            top: 20%;
        }

        .radiationIcon-2 {
            bottom: 10%;
            position: absolute;
            right: 40%;
        }

        .content-rightSide {
            .div-burguerImage {
                display: flex;
                position: relative;
                right: 50%;

                .container-price {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    right: 85%;
                    top: 25%;
                    z-index: 5;

                    .traceBurguer {
                        margin-bottom: 8px;
                    }

                    .priceBurguer {
                        align-items: center;
                        background-color: #ffff;
                        border-radius: 25px;
                        border: 1px solid #8D8D8D;
                        box-shadow: 10px 6px 2px 0 rgba(0, 0, 0, 0.5);
                        display: flex;
                        height: 100px;
                        justify-content: center;
                        width: 230px;

                        .price {
                            p,h3 {
                                color: var(--black);
                                font-weight: bold;
                            }

                            h3 {
                                color: var(--red);
                                font-size: 32px;
                            }
                        }
                    }
                }

                .content-burguerImage {
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .burguerImage {
                        z-index: 4;
                    }

                    .shadowBurguer {
                        bottom: 0;
                        margin-top: -16px;
                        z-index: -1;
                    }
                }
            }
        }
    }
}

/* SmartPhone */
/* 360 new SmartPhone && 320 old SmartPhone*/ 
@media screen and (min-width: 320px) and (max-width: 799px) {
    .homePage {
        flex-direction: column;
        height: auto;
        justify-content: start;
        padding-top: 130px;
        padding-bottom: 100px;
        background-size: 100%;
        background-position: center;

        .leftSide-homePage {
            order: 2;

            .content-leftSide {
                max-width: 340px;
                padding-top: 24px;
                padding: 24px 10px;

                h5 {
                    font-size: 16px;
                }

                h1 {
                    font-size: 40px;
                }

                .btns {
                    justify-content: center;
                    margin-top: 24px;

                    .btn-addCard,
                    .btn-GoToMenu {
                        font-size: 16px;
                    }
                }
            }
        }

        .rightSide-homePage {
            background: transparent;
            height: auto;
            order: 1;
            padding-top: 24px;

            .radiationIcon-1 {
                display: none;
            }
    
            .radiationIcon-2 {
                display: none;
            }

            .content-rightSide {
                .div-burguerImage {
                    right: 0;

                    .container-price {
                        .traceBurguer {
                            display: none;
                        }

                        .priceBurguer {
                            margin-top: 96px;
                            margin-right: -48px;
                            max-height: 60px;
                            max-width: 120px;

                            .price {
                                h3 {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .content-burguerImage {
                        .burguerImage {
                            max-width: 250px;
                        }

                        .shadowBurguer {
                            max-width: 200px;
                            margin-top: -8px;
                        }
                    }
                }
            }
        }
    }
}

/* Tablet */
@media screen and (min-width: 800px) and (max-width: 1280px) {
    .homePage {
        flex-direction: column;
        justify-content: start;
        padding-top: 145px;
        padding-bottom: 150px;
        height: auto;
        background-position: center;

        .leftSide-homePage {
            order: 2;

            .content-leftSide {
                max-width: 590px;
                padding-top: 24px;
                padding: 24px 0;

                h5 {
                    font-size: 1.5rem;
                }

                h1 {
                    font-size: 3rem;
                }

                p {
                    font-size: 1.5rem;
                }

                .btns {
                    justify-content: center;
                    margin-top: 24px;

                    .btn-GoToMenu {
                        font-size: 24px;
                    }
                }
            }
        }

        .rightSide-homePage {
            background: transparent;
            order: 1;
            height: auto;

            .radiationIcon-1 {
                display: none;
            }
    
            .radiationIcon-2 {
                display: none;
            }

            .content-rightSide {
                height: auto;

                .div-burguerImage {
                    right: 0;

                    .container-price {
                        .traceBurguer {
                            display: none;
                        }

                        .priceBurguer {
                            max-width: 170px;
                            max-height: 80px;
                            margin-right: -48px;
                            margin-top: 128px;

                            .price {
                                p {
                                    font-size: 16px;
                                }

                                h3 {
                                    font-size: 24px;
                                }
                            }
                        }
                    }

                    .content-burguerImage {
                        .burguerImage {
                            max-width: 350px;
                        }

                        .shadowBurguer {
                            max-width: 250px;
                        }
                    }
                }
            }
        }
    }
}

/* Small Desktop */
@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .homePage {
        .leftSide-homePage {
            .content-leftSide {
                padding-left: 100px;
            }
        }

        .rightSide-homePage {
            .content-rightSide {
                .div-burguerImage {

                    .container-price {
                        .traceBurguer {
                            max-width: 75px;
                        }

                        .priceBurguer {
                            max-height: 80px;
                            max-width: 170px;

                            .price {
                                h3 {
                                    font-size: 24px !important;
                                }
                            }
                        }
                    }


                    .content-burguerImage {
                        .burguerImage {
                            max-width: 400px;
                        }

                        .shadowBurguer {
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }
}

/* Medium Desktop */
@media screen and (min-width: 1366px) and (max-width: 1700px) {
    .homePage {
        .leftSide-homePage {
            .content-leftSide {
                padding-left: 170px;
            }
        }

        .rightSide-homePage {
            .content-rightSide {
                .div-burguerImage {

                    .container-price {
                        .traceBurguer {
                            max-width: 75px;
                        }

                        .priceBurguer {
                            max-height: 80px;
                            max-width: 170px;

                            .price {
                                h3 {
                                    font-size: 24px !important;
                                }
                            }
                        }
                    }

                    .content-burguerImage {
                        .burguerImage {
                            max-width: 450px;
                        }

                        .shadowBurguer {
                            max-width: 300px;
                        }
                    }
                }
            }
        }
    }
}

/* Extra Large Desktop */
@media screen and (min-width: 2000px) {}