.modal {
    align-items: center;
    background-color: var(--darkBlue-background);
    border-radius: 15px;
    border: none;
    display: flex;
    height: 422px;
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    z-index: 1000;

    .content-modal {
        align-items: center;
        background-color: var(--gray);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        height: 95%;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 98%;

        .icon-close {
            color: var(--white);
            cursor: pointer;
            height: 50px;
            position: absolute;
            transition: 1s;
            width: 50px;
            right: 16px;

            &:hover {
                scale: 1.1;
            }
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 799px) {
    .modal {
        height: 530px;
        height: auto;
        max-width: 300px;
        top: 50%;

        .content-modal {
            height: auto;
            margin: 16px 0;
            max-width: 268px;
            overflow-y: scroll;
        }
    }
}

@media screen and (min-width: 800px) and (max-width: 1280px) {
    .modal {
        max-height: 380px;
        max-width: 740px;
        top: 30%;

        .content-modal {
            max-height: 348px;
            max-width: 708px;
            overflow-y: scroll;
        }
    }
}