.header-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;

    .btn-menu {
        display: none;
    }

    img {
        margin-left: 80px;
    }

    ul {
        display: flex;
        gap: 48px;
        list-style-type: none;

        li {
            cursor: pointer;
            position: relative;
            font-family: "Rosario";

            &::before {
                background-color: #CE1F26;
                bottom: -5px;
                content: '';
                height: 4px;
                position: absolute;
                left: 50%;
                transition: width 0.3s;
                width: 0;
            }

            &:hover::before {
                width: 25%;
            }

            &::after {
                background-color: #CE1F26;
                bottom: -5px;
                content: '';
                height: 4px;
                position: absolute;
                right: 50%;
                transition: width 0.3s;
                width: 0;
            }

            &:hover::after {
                width: 25%;
            }
        }
    }
    
    .btns {
        align-items: center;
        display: flex;
        gap: 8px;
        margin-right: 80px;

        .btn-darkMode, .btn-shoppingCart {
            align-items: center;
            background-color: #ffff;
            border-radius: 10px;
            border: 1px solid #8d8d8d36;
            cursor: pointer;
            display: flex;
            justify-content: center;
            transition: 0.5s ease;

            &:hover {
                scale: 1.1;
            }
        }

        .btn-darkMode {
            height: 30px;
            width: 30px;
        }

        .btn-shoppingCart {
            height: 60px;
            position: relative;
            width: 60px;

            .icon-circle {
                display: none;

                fill: #FF0000;
                height: 11px;
                position: absolute;
                right: -2px;
                top: -2px;
                width: 11px;
            }

            .icon-shoppingCart {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media screen and (max-width: 999px) {
    .header-content {
        position: relative;

        .btn-menu {
            display: block;
            margin-left: 24px;
            .icon-menu {
                height: 35px;
                width: 35px;
            }
        }

        img {
            margin: 0;
            order: 2;
            width: 40px;
        }

        ul {
            display: none;
        }

        .btns {
            margin-right: 24px;
            order: 3;

            .btn-darkMode {
                display: none;
            }

            .btn-shoppingCart {
                background-color: #000000;
                color: #ffff;
                height: 40px;
                width: 40px;
            }
        }
    }
}