.backPageContent {
    .backPage {
        all: unset;
        align-items: center;
        cursor: pointer;
        gap: 16px;
        display: flex;

        .icon {
            color: var(--white);
            font-size: 24px;
        }

        p {
            all: unset;
            color: var(--white);
            font-size: 24px;
        }
    }
}