@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

:root {
  --yellow-background: #FFD700;
  --darkBlue-background: #003366;
  --white: #FFFFFF;
  --black: #000;
  --lightBlue: #0055FF;
  --green: #00FF00;
  --gray: #A9A9A9;
  --red: #FF0000;
}

/* Scroll style */
body::-webkit-scrollbar {
  width: 9px;
}

body::-webkit-scrollbar-track {
  background-color: var(--darkBlue-background);
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 50px;
  
}

/* Box Shopping Cart */



/* Box Locations */
.rightSide-items::-webkit-scrollbar {
  width: 5px;
}

.rightSide-items::-webkit-scrollbar-track {
  margin: 16px 0;
}

.content-modal::-webkit-scrollbar-track {
  margin: 8px 0;
}

.content-modal::-webkit-scrollbar {
  width: 5px;
}